/*centers h1 element*/
h1 {text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
/*two specific paragraphs indent*/
.visit {text-indent: 10%;}
.eat-drink {text-indent: 10%;}

/*color visit*/
.visit {color: rgb(99, 27, 3);

/*list color and case*/
.restaurants li:nth-child(3) {text-transform:uppercase; color:blue;}

/*rules for links*/
a:link {color: green;}
a:visited {color: blue;}
a:hover {background-color: black;}
a:active {color: red;}
            
